<div class="card">
  <div class="card-header">
    {{ pageTitle + ': ' + product?.productName }}
  </div>
  <div class="card-body">
    <p>Price: {{ product?.price }}</p>
    <p>Product Name: {{ product?.productName }}</p>
    <p>Product Code: {{ product?.productCode }}</p>
    <p>Product Available: {{ product?.releaseDate }}</p>
  </div>
  <div class="card-footer">
    <button class="btn btn-outline-secondary" style="width: 80px" (click)="onBack()">
      <i class="fa fa-chevron-left"></i> Back
    </button>
  </div>
</div>
